<div>

    <app-nbd-shopping-header></app-nbd-shopping-header>
    <div class="container nbd-main">
      <div class="row">  
        <div class="col-sm-12">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/products/All">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/shoppingCart">
                  Cart <span class="badge badge-light" *ngIf="updateCartCount ">{{updateCartCount}}</span>
                </a>
              </li>
            </ul>
        </div>
        <div class="col-md-12 col-sm">    
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  
  <div>