<div class="container nbd-main">
        <div class="row border-bottom">
            <div class="d-sm-none d-md-block  col-md-3">
                <h6>PICTURE</h6>
            </div>
            <div class="col-sm-4 col-md-3">
                <h6>NAME</h6>
            </div>  
            <div class="col-sm-4  col-md-3">
                <h6>QUANTITY</h6>
            </div>           
            <div class="col-sm-4  col-md-3">
                <h6>PRICE</h6>
            </div>
        </div>
        <div class="row" *ngIf="cartProductList">           
            <ng-template ngFor let-product [ngForOf]="cartProductList" >
                <div class="d-sm-none d-md-block  col-md-3">
                    <div class="image-card">
                    <img src="{{'/assets/images' + product.imageSrc}}" class="card-img-top" alt="..." height="120">
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h5 class="card-title">{{product.name}}</h5>
                </div>  
                <div class="col-sm-4  col-md-3">
                    <div>{{product.buyCount}}</div>
                </div>           
                <div class="col-sm-4  col-md-3">
                    <p class="card-title">{{product.price * product.buyCount | number:"2.2-3" | currency: "USD"}}</p>
                </div>  
            </ng-template>
        </div>
        <div class="text-right border-top border-bottom">
            <h6 class=""><span>TOTAL: {{total | number:"2.2-3" | currency: "USD"}}</span></h6>
        </div>
</div>
    